
.images-list
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

.images-list-item
  margin: 10px;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

.images-list-item.preloaded
  opacity: 0.7;

.images-list-item:hover .image-controlls button
  display: block;

.images-list-item .image-controlls > button
  display: none;

.image-controlls
  position: absolute;
  width: 100%;
  top: 10px;
  left: 10px;
  z-index: 999;

.image-controlls input
  width: 65%;
  font-size: 16px;
  height: 20px;
  padding: 10px;

.images-list-item,
.images-list-item image-item div
  height: 250px;
  width: 250px;

.images-list-item image-item div
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;

