
.tooltip-wrap
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;

p.tooltip
  position: absolute;
  min-height: 20%;
  width: 50%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(50%, 50px);
  color: #fff;
  display: none;

 p.tooltip.shown
   display: block;

.tooltip-trigger
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  height: 30px;
  line-height: 22px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  background: #000;
  opacity: 0.6;