<div class="image-uploader-wrapper">
	<input type="file"
			ngf-select="$ctrl.onImageSelect();"
			ng-model="$ctrl.images"
			name="file"
			ngf-accept="'image/*'"
			required=""
			ngf-multiple="true"
			><br><br>

	<button ng-click="$ctrl.uploadImages();" ng-if="$ctrl.images.length">
		Upload preloaded images
	</button>

	<div style="opacity: 0;" ng-repeat="image in $ctrl.images">
		<image ngf-src="image"/>
	</div>
</div>