<navbar></navbar>
<main>
  <div>
    <section class="images-list">

    <!-- //////////////////////////////// -->
    <!-- In browser preloaded images list -->
    <!-- //////////////////////////////// -->
    	<div class="images-list-item preloaded" ng-repeat="image in $ctrl.preloadedImageList">
			<div class="image-controlls">
				<button ng-if="!image.editMode" ng-click="$ctrl.edit(image);">Edit</button><br>
				<button ng-if="!image.editMode" ng-click="$ctrl.deletePreloadedImage(image);">Delete</button>

				<div>
					<button ng-if="image.editMode" ng-click="$ctrl.saveEdit(image, true);">Save</button>
					<br>

					<form class="edit-image" ng-if="image.editMode">
						<input type="text" placeholder="Description" ng-model="image.description"/>
					</form>
				</div>
			</div>

			<tooltip description="image.description"></tooltip>

			<image-item source="image" />
		</div>

	<!-- //////////////////////////////// -->
    <!-- Remote images list               -->
    <!-- //////////////////////////////// -->
		<div class="images-list-item" ng-repeat="image in $ctrl.imageList">
			<div class="image-controlls">
				<button ng-if="!image.editMode" ng-click="$ctrl.edit(image);">Edit</button><br>
				<button ng-if="!image.editMode" ng-click="$ctrl.deleteImage(image);">Delete</button>

				<div>
					<button ng-if="image.editMode" ng-click="$ctrl.saveEdit(image);">Save</button>
					<br>

					<form class="edit-image" ng-if="image.editMode">
						<input type="text" placeholder="Description" ng-model="image.description"/>
					</form>
				</div>
			</div>

			<tooltip description="image.description"></tooltip>

			<image-item source="image" />
		</div>

	</section>
  </div>
</main>